<div class="clr-row">
    <div class="clr-col-12">
        <div class="card">
            <div class="card-header">
                <label>
                    Structure
                </label>
            </div>
            <div class="card-block">
                <div class="card-title">
                    Front-end
                </div>
                <div class="card-text">
                    <p>This is an angular application, made with the classics Html, CSS and Typescript on the components.</p>
                    <p>Also, the design was made with Project Clarity.</p>
                </div>
            </div>
            <div class="card-block">
                <div class="card-title">
                    Back-end
                </div>
                <div class="card-text">
                    <p>At the moment this application is a work in progress. In the future, it will have two APIs (one with C# and another one with Python) and its database made with MySQL using workbench.</p>
                </div>
            </div>
            <div class="card-block">
                <div class="card-title">
                    What else to expect
                </div>
                <div class="card-text">
                    <p>I'll add some functionality with JS and I'll keep improving the design adding more CSS.</p>
                </div>
            </div>
            <div class="card-footer">
                <a href='./assets/documents/Resume.pdf' download="Resume.pdf">Click here if you prefer the pdf format</a>
            </div>
        </div>
    </div>
</div>