.resumeLogo {
    background-image: url("../../assets/images/resumePhoto.png");
    margin-right: 0.55rem;
    height: 1.8rem;
    width: 1.8rem;
}

.header-nav a:hover {
    background: rgb(70, 67, 67);
}
