<clr-header>
    <div class="branding">
        <a routerLink="./about/overview" class="nav-link">
            <span class="clr-icon resumeLogo"></span>
            <span class="title">Ricardo's Resume</span>
        </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
        <a
            [routerLinkActiveOptions]="{ exact: false }"
            routerLink="./about/"
            routerLinkActive="active"
            class="nav-link"
            ><span class="nav-text">About</span></a
        >
        <a
            [routerLinkActiveOptions]="{ exact: false }"
            routerLink="./personal-information"
            routerLinkActive="active"
            class="nav-link"
            ><span class="nav-text">Personal Information</span></a
        >
        <a
            [routerLinkActiveOptions]="{ exact: false }"
            routerLink="./skills"
            routerLinkActive="active"
            class="nav-link"
            ><span class="nav-text">Skils</span></a
        >
        <a
            [routerLinkActiveOptions]="{ exact: false }"
            routerLink="./work-experience"
            routerLinkActive="active"
            class="nav-link"
            ><span class="nav-text">Work Experience</span></a
        >
    </div>
</clr-header>
