<div class="content-container" style="height: 100%;">
    <div class="content-area">
        <h4 style="text-indent: 2em; font-style: italic;">
            {{ description }}
        </h4>
        <hr />
        <div class="card">
            <div class="card-header text-center">
                <label class="text-center">My Skills</label>
            </div>
            <div class="card-block">
                <div class="clr-row">
                    <div class="clr-col-4 text-center">
                        <clr-icon
                            shape="display"
                            size="30"
                            class="is-solid"
                        ></clr-icon>
                        <br />
                        <label>Front-end</label>
                        <ul>
                            <li>html(5)</li>
                            <li>css(3)</li>
                            <li>Javascript</li>
                            <li>Jquery</li>
                            <li>Bootstrap</li>
                            <li>Clarity Project</li>
                            <li>Api | Ajax</li>
                        </ul>
                    </div>
                    <div class="clr-col-4 text-center">
                        <clr-icon
                            shape="rack-server"
                            size="30"
                            class="is-solid"
                        ></clr-icon>
                        <br />
                        <label>Back-end</label>
                        <ul>
                            <li>C#</li>
                            <li>SQL</li>
                            <li>MySQL</li>
                            <li>Restful Web Services</li>
                            <li>Flask | Python</li>
                        </ul>
                    </div>
                    <div class="clr-col-4 text-center">
                        <clr-icon
                            shape="star"
                            size="30"
                            class="is-solid"
                        ></clr-icon>
                        <br />
                        <label>Tools</label>
                        <ul>
                            <li>Entity Framework</li>
                            <li>Jira</li>
                            <li>TFS</li>
                            <li>Github</li>
                        </ul>
                    </div>
                </div>
                <div class="clr-row">
                    <div class="small-12 medium-8 medium-offset-2 columns">
                        <div class="teaching-domains"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
