<div class="clr-row">
    <div class="clr-col-12">
        <div class="card">
            <div class="card-header">
                <label>
                    Information
                </label>
            </div>
            <div class="card-block">
                <div class="card-title">
                    Explanation
                </div>
                <div class="card-text">
                    <p>The functions of this virtual resume are two:</p>
                    <br>
                    <ol>
                        <li>First to serve as a resume</li>
                        <li>Second as a card of presentation to show some of my skills</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>