<div class="clr-row">
    <div class="clr-col-12">
        <div class="card">
            <div class="card-header">
                <label>
                    Education
                </label>
            </div>
            <div class="card-block">
                <div class="card-title">
                    {{education.school}}
                </div>
                <div class="card-text">
                    {{education.title}}
                </div>
            </div>
        </div>
    </div>
</div>