<div class="clr-row">
    <div class="clr-col-12">
        <div class="card">
            <div class="card-header">
                <label>
                    Personal Information
                </label>
            </div>
            <div class="card-block">
                <div class="card-title">
                    Brief description of myself
                </div>
                <div class="card-text">
                    I'm a very proactive person who loves to learn, I'm always looking for challenges and how could I
                    resolve hard problems. I'm very responsible, I like to get things done if I don't know something I'm
                    going to search everywhere a way of solving it. Also, I'm a fast learner and a very logical person.
                </div>
            </div>
        </div>
    </div>
</div>