.footer-container {
    background-color: var(--clr-header-bg-color, #333333);
      line-height: 50px;
      padding: 0 24px;
  }
  .clr-row{
    width: 100%;
  }
  .clr-row div{
    align-items: center;
    display: flex;
    justify-content: center;
  }
  span, a{
    color: white;
  }
  .cellPhone-container, .link-container{
    padding-left: 24px;
  }