<footer>
    <div class="footer-container">
        <div class="email-container">
            <clr-icon shape="envelope" class="is-inverse"></clr-icon>
            <span>
            Email: ricardo-ss@hotmail.com
            </span>
        </div>
        <div class="cellPhone-container">
            <clr-icon shape="phone-handset" class="is-inverse"></clr-icon>
            <span>
            Cell Phone: 33 12 56 03 317
            </span>
        </div>
        <div class="link-container">
            <clr-icon shape="link" class="is-inverse"></clr-icon> 
            <a href="https://www.linkedin.com/in/ricardo-sanchez-santos-aa82a1133/" target="_blank">
            LinkedIn Profile
            </a>  
      </div>
    </div>
</footer>