<footer>
    <div class="footer-container">
        <div class="clr-row">
            <div class="email-container clr-col-12 clr-col-sm-12 clr-col-md-4">
                <clr-icon shape="envelope" class="is-inverse"></clr-icon>
                <span>
                Email: <a href="mailto:ricardo-ss@hotmail.com">ricardo-ss@hotmail.com</a>
                </span>
            </div>
            <div class="cellPhone-container clr-col-12 clr-col-sm-12 clr-col-md-4">
                <clr-icon shape="phone-handset" class="is-inverse"></clr-icon>
                <span>
                Cell Phone: 33 12 56 03 317
                </span>
            </div>
            <div class="link-container clr-col-12 clr-col-sm-12 clr-col-md-4">
                <clr-icon shape="link" class="is-inverse"></clr-icon> 
                <a href="https://www.linkedin.com/in/ricardo-sanchez-santos-aa82a1133/" target="_blank">
                LinkedIn Profile
                </a>  
            </div>
        </div>
    </div>
</footer>