.footer-container {
    background-color: var(--clr-header-bg-color, #333333);
      line-height: 50px;
      padding: 0 24px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  span, a{
    color: white;
  }
  .cellPhone-container, .link-container{
    padding-left: 24px;
  }