<div class="clr-row">
    <div class="clr-col-12">
        <div class="card">
            <div class="card-header">
                <label>
                    Contact Information
                </label>
            </div>
            <div class="card-block">
                <div class="card-title">
                    Email
                </div>
                <div class="card-text">
                    <clr-icon shape="envelope" class="is-solid"></clr-icon>ricardo-ss@hotmail.com
                </div>
                <div class="card-title">
                    Cellphone
                </div>
                <div class="card-text">
                    <clr-icon shape="phone-handset" class="is-solid"></clr-icon> 33 12 56 03 31
                </div>
                <div class="card-title">
                    LinkedIn
                </div>
                <div class="card-text">
                    <clr-icon shape="link"></clr-icon> 
                    <a href="https://www.linkedin.com/in/ricardo-sanchez-santos-aa82a1133/" target="_blank">
                        LinkedIn Profile
                    </a>  
                  </div>
            </div>
        </div>
    </div>
</div>